   <div class="card-trip">
  <%= image_tag car.photo_url, alt:"photo voiture #{car.brand}" %>
  <div class="card-trip-infos">
    <h3><%= car.brand %> <%= car.model %></h3>
    <p><i class="fas fa-map-marker-alt"></i><%= car.address %></p>
    <p><strong><%= car.price_per_day %>€</strong> par jour</p>
    <%= link_to "Réserver", car_path(car), class: "btn btn-second" %>
  </div>
</div>
